<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Blog</p>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <div class="caption-full">
                    <h4><a><%= blog.name %></a></h4>
                    <p id="blog"><%= blog.description %></p>
                    <p><em>Submitted By</em> <%= blog.author.username %></p>
                    <% if(currentUser && blog.author.id.equals(currentUser._id)){ %>
                    <a class="btn btn-warning" href="/blogs/<%= blog._id %>/edit">Edit</a>
                    <form id="delete-form" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger"> Delete </button>
                        <% } %>
                    </form>
                </div>
                
            </div>
            <div class="well">
                <div class="text-right">
                        <a class="btn btn-success" href="/blogs/<%= blog._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                    <% blog.comments.forEach(function(comments){ %>
                    <div class="row">
                        <div  class="col-md-12">
                            <strong><%=comments.author.username %></strong>
                             <p id="blog">
                                <%= comments.text %>
                             </p>
                             <% if(currentUser && comments.author.id.equals(currentUser._id)){ %>
                             <div>
                             <a class="btn btn-xs btn-warning" href="/blogs/<%=blog._id%>/comments/<%=comments._id%>/edit">Edit</a>
                             <form id="delete-form" action="/blogs/<%=blog._id%>/comments/<%=comments._id%>?_method=DELETE" method="POST">
                                 <input  type="submit" class="btn btn-xs btn-danger" value="Delete">
                             </form>
                             </div>
                             <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>